body {
	font-family: 'Zilla Slab', serif;
	text-align: center;
	font-size: 100px;
	background-color: yellow;
}

button {
	border: 4px solid black;
	border-radius: 8px;
	padding: 8px;
	font-size: 24px;
	background-color: white;
}
